body{
    background-color: hsl(0, 0%, 95%);
}
.flex-container{
    margin: 10% 20%;
    height: auto;
    display: flex;
    flex-direction: row;
    width: 880px;
}
@media (max-width: 800px) {
    .flex-container {
      flex-direction: column;
      width: 500px;
      margin: 10%;
    }
  }
.card-1{
    background-color: hsl(31, 77%, 52%);
   height: auto;
   width: 70%;
   border-radius: 10px;
}
.card-2{
    background-color:  hsl(184, 100%, 22%);
    height: auto;
    width: 70%;
    border-radius: 10px;
}
.card-3{
    background-color:  hsl(179, 100%, 13%);
    height: auto;
    width: 70%;
    border-radius: 10px;
}

h1{
    color:hsl(0, 0%, 95%);
    font-weight: 700;
     font-family: 'Big Shoulders Display';
     margin: 10%;
}
p{
  color: hsla(0, 0%, 100%, 0.75);  
 font-family: 'Lexend Deca', sans-serif;
font-size: 15px;
margin: 10%;

}
#btn1{
    background-color :hsl(0, 0%, 95%);
    color:hsl(31, 77%, 52%);
   margin: 10%;
   font-family: 'Lexend Deca', sans-serif;
font-size: 15px;
border-radius: 20px;
padding-left: 10%;
padding-right: 10%;
}
#btn2{
    background-color :hsl(0, 0%, 95%);
    color: hsl(184, 100%, 22%);
   margin: 10%;
   font-family: 'Lexend Deca', sans-serif;
font-size: 15px;
border-radius: 20px;
padding-left: 10%;
padding-right: 10%;
}
#btn3{
    background-color :hsl(0, 0%, 95%);
    color:hsl(179, 100%, 13%);
   margin: 10%;
   font-family: 'Lexend Deca', sans-serif;
font-size: 15px;
border-radius: 20px;
padding-left: 10%;
padding-right: 10%;
}
svg{
    margin: 10%;
}
#btn1:hover{
    color :hsl(0, 0%, 95%);
    background-color:hsl(31, 77%, 52%);
    border: 2px solid hsl(0, 0%, 95%);
}
#btn2:hover{
    color :hsl(0, 0%, 95%);
    background-color:hsl(184, 100%, 22%);
    border: 2px solid hsl(0, 0%, 95%);
}
#btn3:hover{
    color :hsl(0, 0%, 95%);
    background-color:hsl(179, 100%, 13%);
    border: 2px solid hsl(0, 0%, 95%);
}